:root {
    /* Colors: */
    --unnamed-color-ff4b4b: #ff4b4b;
    --unnamed-color-e9e9e9: #e9e9e9;
    --unnamed-color-000000: #000000;
    --unnamed-color-ffffff: #ffffff;
    --unnamed-color-464646: #464646;
    --unnamed-color-fd8c94: #fd8c94;

    /* Font/text values */
    --unnamed-font-family-prata: Prata;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-68: 68px;
    --unnamed-character-spacing-5-44: 5.44px;
    --unnamed-line-spacing-78: 78px;
}

/* Character Styles */
.unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-prata);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-68);
    line-height: var(--unnamed-line-spacing-78);
    letter-spacing: var(--unnamed-character-spacing-5-44);
    color: var(--unnamed-color-ffffff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background: var(--unnamed-color-464646) 0% 0% no-repeat padding-box;
    background: #464646 0% 0% no-repeat padding-box !important;
    opacity: 1;
}

.modal-dialog {
    height: 500px !important;
}

.oldFriend {
    top: 278px;
    left: 435px;
    width: 497px;
    height: 174px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 65px/85px var(--unnamed-font-family-prata);
    color: var(--unnamed-color-464646);
    text-align: left;
    font: normal normal normal 65px/85px Prata;
    letter-spacing: 0px;
    color: #464646;
    opacity: 1;
    margin: auto;
}

.paraDes {
    top: 485px;
    left: 435px;
    width: 488px;
    height: 18px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 14px/35px PT Sans;
    color: var(--unnamed-color-464646);
    text-align: left;
    font: normal normal normal 13px/35px PT Sans;
    letter-spacing: 0.7px;
    color: #464646;
    opacity: 1;
    margin: auto;
}

.loader {
    margin-left: 18%;
    width: 50px;
    /* control the size */
    aspect-ratio: 12/10;
    --_g: no-repeat radial-gradient(#000 68%, #0000 71%);
    -webkit-mask: var(--_g), var(--_g), var(--_g);
    -webkit-mask-size: 25% 40%;
    background: #E9E9E9;
    animation: load 2s infinite ease-in-out;
}

@keyframes load {
    0% {
        -webkit-mask-position: 0% 0% 25%, 0% 0% 50%, 0% 0% 100%
    }

    100% {
        -webkit-mask-position: 0% 0%, 50% 0%, 100% 0%
    }
}

.modal-footer {
    display: flex !important;
    justify-content: flex-start !important;
    margin-left: 16%;
}

.go-Shop {
    top: 545px;
    left: 435px;
    width: 99px;
    height: 31px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 3px solid var(--unnamed-color-fd8c94);
    border-bottom: 3px solid #fd8c94;
    font: var(--unnamed-font-style-normal) normal bold 15px/16px PT Sans;
    color: var(--unnamed-color-fd8c94);
    text-align: center;
    font: normal normal bold 15px/16px PT Sans;
    letter-spacing: 3px;
    color: #FD8C94;
    opacity: 1;
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}

/* MEDIA QUERY*/

@media only screen and (max-width: 375px) {

    .oldFriend {
        top: 137px;
        left: 55px;
        width: 246px;
        height: 263px;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 50px/65px var(--unnamed-font-family-prata);
        color: var(--unnamed-color-464646);
        text-align: left;
        font: normal normal normal 50px/65px Prata;
        letter-spacing: 0px;
        color: #464646;
        opacity: 1;
    }

    .paraDes {
        top: 442px;
        left: 53px;
        width: 261px;
        height: 69px;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 14px/30px PT Sans;
        color: var(--unnamed-color-464646);
        text-align: left;
        font: normal normal normal 14px/30px PT Sans;
        letter-spacing: 0.7px;
        color: #464646;
        opacity: 1;
    }

    .modal-footer {
        display: flex !important;
        justify-content: center!important;
        align-items: center !important;
        margin: 0px auto;
    }

    .go-Shop {
        top: 526px;
        left: 53px;
        width: 270px;
        height: 55px;
        background: transparent;
        border: 1px solid var(--unnamed-color-fd8c94);
        border: 1px solid #fd8c94;
        font: var(--unnamed-font-style-normal) normal bold 15px/16px PT Sans;
        color: var(--unnamed-color-fd8c94);
        text-align: center;
        font: normal normal bold 15px/16px PT Sans;
        letter-spacing: 3px;
        color: #FD8C94;
        opacity: 1;
        margin: auto;
    }


}